body{
    background-attachment: fixed;
	background-size: 100% 100%;
    margin: 0;
}
/* From here header properties start */
.search{
    padding-top: 40px;
}
.auth{
    float: right;
}

.head{
	position: fixed;
	width: 100%;
	left:0;
	top:0;
}

header{
	background-color: #e8db7d;
	/*  opacity: 0.7;
	    filter: alpha(opacity=30); */ 
	top:0;
	padding-top: 0;
	color: black;
	font-family: 'Bitter', serif;
}
header li{
   display: inline;
   margin-left: 80px;
}
div li{
	display: inline;
    margin-left: 80px;
}
header a{
	text-decoration: none;
	color: green;
	font-size: 20px;
}
header a:hover{
	color: red;
}
header ul{
	margin-top: 40px;
}
/* This is end of header properties */
/* From here main section's properties start */

.imgStyle{
height: 300px;
width: 300px;
}
.main{
	color: black;
	font-size: 15px;
	font-family: 'Bitter', serif;
	 background-color: #daffb4;
	 /* opacity: 0.5;
	    filter: alpha(opacity=30); */
     margin-top:90px;

}

.mainPart1{
	margin-left: 10px;
	margin-top: 10px;
}

.mainPart2{
	margin-left: 10px;
	margin-top: 10px;
}

.mainPart3{
	margin-left: 10px;
	margin-top: 10px;
}
/* From here Hero Section properties start */
.img2{
	width: 930px;
	height: 400px;
}

.hero{
	background-color: #e3e3e3;
	/*opacity: 0.7;
    filter: alpha(opacity=30);*/
}

.mov1{
	text-align: left;
}
/* From here Footer properties start */
.foot{
	background-image: url(../images/footer.jpg);
	opacity: 0.7;
    filter: alpha(opacity=30);
	width: 100%;
	color: white;
	font-size: 25px;
	font-family: 'Bitter', serif;
	line-height: 40px;
}
.foot a{
	text-decoration: none;
	color: green;
	padding-right: 80px;
	
}
footer nav{
	margin-left: 30px;
}
.foot img:hover{
	
}
.movFoot1{
	margin-top: 50px;
	margin-bottom: 50px;
}
.movFoot2{
	margin-top: 50px;
	margin-bottom: 50px;
	
}